<html>
    <head>
        <title> Celestita blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Celestita Blog</a></h1>
        </div>

        <div>
            <p>published: 18.05.2019, 17.00</p>
            <h2><a href="">probando</a></h2>
            <p>a ver que sale si hago esto en esta hilera.</p>
        </div>

        <div>
            <p>published: 18.05.2019, 17:00</p>
            <h2><a href="">probando 2</a></h2>
            <p>espero que funcione .</p>
        </div>
    </body>
</html>
